{% extends "base.html" %}
{% block content %}
<h1>Muokkaa aineistoa</h1>

<form method="post" action="{{base_path}}/item/{{attributes.id}}/edit">
  <div class="form-group">
    <label class="control-label">Nimeke</label>
    <input type="text" name="title" class="form-control" value="{{attributes.title}}">
  </div>

  <div class="form-group">
    <label>Tekijä</label><br>
    <em>Nykyiset tekijät: </em><br>
    {% for author in itemauthors %}
    {{author.surname}}, {{author.othernames}}{% if loop.last == false %}<br> {% endif %}
    {% endfor %}
    <select class="form-control" name="authors[]" multiple="">
      {% for author in authors %}
      <option value="{{author.id}}">{{author.surname}}, {{author.othernames}}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label class="control-label">Tyyppi</label>
    <input type="text"  name="itemtype" class="form-control" value="{{attributes.itemtype}}"></textarea>
  </div>

  <div class="form-group">
    <label class="control-label">Muita tietoja</label>
    <input type="text"  name="otherdetails" class="form-control" value="{{attributes.otherdetails}}"></textarea>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Tallenna</button>
  </div>
</form>
{% endblock %}