{% extends "base.html" %}
{% block content %}
  <h1>Kaikki lainattavat kohteet</h1>

  <p>
      Tämä näkyy vain kirjautuneille käyttäjille:
    <a href="#" class="btn btn-success">Lainaa uusi kohde</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Aineiston tyyppi</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan kohteet tähän -->
      <tr>
        <td><a href="#">Logicomix</a></td>
        <td>kirja</td>
        <td><label class="label label-danger">lainassa</label></td>
        <th><a class="btn btn-default btn-sm" href="#">Palauta</a></th>
      </tr>
      <tr>
        <td><a href="#">Mikä tämän kirjan nimi on</a></td>
        <td>kirja</td>
        <td><label class="label label-danger">vapaa</label></td>
        <th><a class="btn btn-default btn-sm" href="#">Lainaa (näkyy vain kirjautuneille)</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}