{% extends "base.html" %}
{% block content %}

{% if user_logged_in %}
<h1>{{user_logged_in.email}}</h1>

{% if message %}
<div class="alert alert-info">
  {{message}}
</div>
{% endif %}
<!-- Painikkeet tähän 


<p>
  <a href="#" class="btn btn-default">Palauta (ei toimi vielä)</a>
</p>
<!-- Tiedot tulevat listana tähän -->
<ul>
  <li><strong>email:</strong> {{user_logged_in.email}}</li>
  <li><strong>Muita tietoja: </strong> <label class="label label-danger">Muita tietoja...</label></li>
  <li><strong>Muita tietoja: </strong> Muita tietoja...</li>
</ul>

{% else %}
<a href="{{base_path}}/login" class="btn btn-default">Kirjaudu sisään</a>
{% endif %}
{% endblock %}