{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>{{author.title}}</h1>
<!-- Painikkeet tähän -->

{% if user_logged_in %}
<p>
  <!--TODO: napit näkyviin vain ylläpitäjälle (nyt näkyvät kaikille kirjautuneille):-->
  <a href="{{base_path}}/author/{{author.id}}/edit" class="btn btn-default">Muokkaa</a>
  {{forms.destroy_button("#{base_path}/author/#{author.id}/destroy")}}
</p>

{% endif %}

<ul>

  <li><strong>Sukunimi:</strong> {{author.surname}}</li>
  <li><strong>Muut nimet:</strong> {{author.othernames}}</li>

  <li><strong>Aineisto:</strong></li>
  <ul>
    {% for item in items %}
    <li><a href="{{base_path}}/item/{{item.id}}">{{item.title}}</a>{% if loop.last == false %}<br> {% endif %}</li>
    {% endfor %}
  </ul>
</ul>
{% endblock %}